@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html {
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}

/*MENU*/
.contenedor-header {
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a {
    font-family: 'Righteous';
    font-size: 36px;
    color: #c15353;
    text-decoration: none;

}

.contenedor-header header ul {
    display: flex;
    list-style: none;

}

.contenedor-header header nav ul li a {
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover {
    color: #c15353;
}

.nav-responsive {
    background-color: #c15353;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/*Seccion inicio*/
.inicio {
    background: linear-gradient(to top, rgba(30, 35, 38, 0.605), rgba(30, 35, 38, 0.979)),
        url(img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;

}

.inicio .contenedor-banner {
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
    margin-bottom: 15px;
}

.inicio .contenedor-banner img {
    border: 10px solid #c15353;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenedor-banner h1 {
    margin-top: 40px;
    font-size: 32px;
    font-family: "Righteous";
}

.inicio .contenedor-banner h2 {
    font-size: 15px;
    font-weight: normal;
}

.inicio .contenedor-banner .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenedor-banner .redes a:hover {
    background-color: #c15353;
}

/*Sobre mi*/
.sobremi {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.sobremi .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.sobremi h2 {
    font-size: 48px;
    font-family: "Righteous";
    text-align: center;
    padding: 20px 0;
}

.sobremi .contenido-seccion p {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenido-seccion p span {
    color: #c15353;
    font-weight: bold;
}

.sobremi .fila {
    display: flex;
}

.sobremi .fila .col {
    width: 50%;
}

.sobremi .fila .col h3 {
    font-size: 28px;
    font-family: "Righteous";
    margin-bottom: 25px;
}

.sobremi .fila .col ul {
    list-style: none;
}

.sobremi .fila .col ul li {
    margin: 12px 0;
}

.sobremi .fila .col ul li strong {
    display: inline-block;
    color: #c15353;
    width: 130px;
}

.sobremi .fila .col .contenedor-intereses {
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col .contenedor-intereses .interes {
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobremi .fila .col .contenedor-intereses .interes:hover {
    background-color: #c15353;
}

.sobremi .fila .col .contenedor-intereses .interes i {
    font-size: 30px;
    margin-bottom: 10px;
}

.sobremi button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.sobremi button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #c15353;
    z-index: -1;
    transition: 1s;
}

.sobremi button:hover .overlay {
    width: 100%;
}



.sobremi a button:hover {
    background-color:#c15353; 
    color: #000; 
}

.sobremi a {
    text-decoration: none;
}


/* Sección Habilidades */
.skills {
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1));
    color: #fff;
    padding: 10px 20px;
}

.skills .contenido-seccion {
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

.skills h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    color: #c15353;
}

.skills .fila {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skills .fila .col {
    width: 45%;
    padding: 20px;
    background: #252A2E;
    border-radius: 10px;
    transition: 0.3s;
}

.skills .fila .col:hover {
    transform: scale(1.05);
    background: #c15353;
}

.skills .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.skills .fila .col h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.skills .icon-skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.skills .icon-skill img {
    width: 60px;
    height: 60px;
    transition: 0.3s;
}

.skills .icon-skill img:hover {
    transform: scale(1.1);
}

.skills .skill {
    margin-bottom: 15px;
    text-align: center;
}

.skills .skill span {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.skills button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
    transition: 0.3s;
}

.skills button:hover {
    background-color: #c15353;
    border-color: #c15353;
}

/*seccion css proyectos*/

#proyectos {

    padding: 3rem 0;
    background: linear-gradient(to top, rgba(30, 35, 38, 0.605), rgba(30, 35, 38, 0.979)),
        url(img/fondo.jpg);
    background-size: cover;
    /* Fondo oscuro */
}

.contenido-seccion {
    text-align: center;
    margin-bottom: 2rem;
}

.contenido-seccion h5 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    color: #fff;
    color:#c15353;


}

/* Galería de proyectos */
.galeria {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.proyecto {
    position: relative;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.proyecto:hover {
    transform: scale(1.05);
    /* Efecto de zoom al pasar el ratón */
}

/* Imágenes de los proyectos */
.proyecto img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

/* Overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(37, 42, 46, 0.7);
    /* Fondo oscuro con opacidad */
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.proyecto:hover .overlay {
    opacity: 1;
    /* Mostrar el overlay al pasar el ratón */
}

.overlay h6 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #c15353;
    /* Título con color rojo */
}

.overlay p {
    font-size: 1rem;
    color: #fff;
    /* Texto en blanco */
}

/* Estilo de los proyectos con distintos colores */
.proyecto:nth-child(1) img {
    filter: brightness(80%);
    /* Tono más oscuro para el primer proyecto */
}

.proyecto:nth-child(2) img {
    filter: brightness(90%);
    /* Tono ligeramente más claro */
}

.proyecto:nth-child(3) img {
    filter: brightness(85%);
    /* Tono ligeramente más oscuro */

}

/*css de contacto*/
.contacto {
    padding: 50px 20px;
    background-color: #1e2326;
    text-align: center;
    color: #ccc;
  }
  
  .contacto h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    color: #c15353;
  }
  
  .contacto form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .contacto input,
  .contacto textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    resize: none;
  }
  
  .contacto button {
    background-color:#c15353;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contacto button:hover {
    background-color:#000;
  }

